/* LOAD FONTS */
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('webfonts/Roboto-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('webfonts/Roboto-Bold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('webfonts/Roboto-Light.ttf');
    font-weight: 300;
}

body {
    /* Remove margin from body */
    margin: 0;

    /* Set page background color and font color */
    background-color: #101010;
    color: #ECECEC;

    user-select: none;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

header {
    position: sticky;

    top: 0;

    background-color: #252525;
    padding: 10px;
}

header h1 {
    margin-top: 0;
    text-align: center;
}

/* Search classes */
.search {
    margin: 0;
    margin-bottom: 10px;

    padding: 10px;
    background-color: #252525;
}

.search h4 {
    margin-top: 0;
}

.flex {
    display: flex;
}

.fl-column {
    flex-direction: column;
}

.fl-row {
    flex-direction: row;
}

.fl-wrap {
    flex-wrap: wrap;
}

#items-display div {
    margin: 10px;
    background-color: #252525;
    padding: 10px;
}

#items-display.loading .loader{
    display: flex;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: none;
    flex-direction: row;
    align-items: center;
}

.bar {
    width: 10px;
    height: 5px;
    background: #10c15c;
    margin: 2px;
    animation: bar 1s infinite linear;
}

.loader .bar:nth-child(1){
   animation-delay: 0s;
}

.loader .bar:nth-child(2) {
     animation-delay: 0.25s;
 }

.loader .bar:nth-child(3) {
     animation-delay: 0.5s;
}

@keyframes bar {
    0% {
        transform: scaleY(1) scaleX(0.5);
    }

    50% {
        transform: scaleY(10) scaleX(1);
    }

    100% {
        transform: scaleY(1) scaleX(0.5);
    }
}
