/* LOAD FONTS */
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('webfonts/Roboto-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('webfonts/Roboto-Bold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('webfonts/Roboto-Light.ttf');
    font-weight: 300;
}

body {
    /* Remove margin from body */
    margin: 0;

    /* Set page background color and font color */
    background-color: #101010;
    color: #ECECEC;

    user-select: none;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

header {
    position: sticky;

    top: 0;
    z-index: 10;

    background-color: #252525;
    padding: 10px;

    /*box-shadow: 0, 15px, 5px, 50px #000000;*/
    box-shadow: 0 0 10px 5px #000000;
}

header h1 {
    margin-top: 0;
    text-align: center;
}

/* Search classes */
.search {
    margin: 0;
    margin-bottom: 10px;

    padding: 20px;
    background-color: #252525;
}

#search{
    padding: 10px 15px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: none;
}

#search:focus{
    outline: none;
}

#search-btn{
    padding: 10px 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    appearance: none;
    border-width: 0;
    border-style: solid;
    border-color: #dadada;
    background-size: 250%;
    color: #000;
    background-position: 0;
    transition: background-position .2s ease, color .2s ease;
    background-image: linear-gradient(45deg, #fff 0%, #fff 55%, #000 55%, #000 100%);
}

#search-btn:hover{
    background-position: 84%;
    color: #fff;
}

#search-btn:focus{
    outline: none;
}

.search h4 {
    margin-top: 0;
}

.flex {
    display: flex;
}

.fl-column {
    flex-direction: column;
}

.fl-row {
    flex-direction: row;
}

.fl-wrap {
    flex-wrap: wrap;
}

.fl-space-around {
    justify-content: space-around;
}

.fl-space-between {
    justify-content: space-between;
}

/* Stats icons */
.neutral-type {
    margin-bottom: 10px;
    margin-top: 0;
    color: #FFAA00;
}

.neutral-type::before {
    content: '✤ Neutral';
}

.fire-type::before {
    color: #FF5555;
    content: '✹ Fire';
}

.fire-color {
    color: #FF5555;
}

.water-type::before {
    color: #55FFFF;
    content: '❉ Water';
}

.water-color {
    color: #55FFFF;
}

.air-type::before {
    color: #FFFFFF;
    content: '❋ Air';
}

.air-color {
    color: #FFFFFF;
}

.thunder-type::before {
    color: #FFFF55;
    content: '✦ Thunder';
}

.thunder-color {
    color: #FFFF55;
}

.earth-type::before {
    color: #00AA00;
    content: '✤ Earth';
}

.earth-color {
    color: #00AA00;
}

.health {
    color: #AA0000;
}

.health::before {
    content: '\2764';
}

/* Text proprieties */
.positive {
    color: #16F016;
}

.negative {
    color: #BB3030;
}

/* Tiers */
.mythic {
    color: rgb(170, 0, 170);
}

.fabled {
    color: rgb(255, 85, 85);
}

.legendary {
    color: rgb(85, 255, 255);
}

.rare {
    color: rgb(255, 85, 255);
}

.unique {
    color: rgb(255, 255, 85);
}

.set {
    color: rgb(85, 255, 85);
}

.restrictions {
    margin-bottom: 0;
    text-align: center;
}

.itemicon {
    width: 48px;
    height: 48px;
}

.select2-results__option {
    color: #101010;
}

.filter-entry::before {
    content: '[x] ';
    font-weight: bold;
    color: #AA0000;
}

.filter-entry {
    font-weight: bold;
}

/* Item info style */
#items-display .item {
    margin: 10px;
    padding: 10px;

    width: 250px;

    background-color: #252525;
    border-radius: 12px;

    text-align: center;

    transition: transform .2s;
}

/* Resize when mouse is over */
#items-display .item:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px 10px #000000;
}

#items-display .item h3 {
    margin-bottom: 5px;
}

#items-display .item .subtitle {
    margin-top: 2px;
    margin-bottom: 2px;
}

#items-display .item .attack-speed {
    margin-top: 0;
    margin-bottom: 8px;

    text-align: left;
}

#items-display .item .info {
    color: #909090;
}

/* Weapon damage */
#items-display .item .side {
    margin-top: 2px;
    margin-bottom: 12px;

    text-align: left;
}

#items-display .item .side .group {
    margin-bottom: 2px;
    margin-top: 2px;
}

#items-display .item .majorid-title {
    color: #ec8626;
    font-weight: bold;
}

#items-display .item .majorid-desc {
    color: #ec8626;
    font-style: italic;
}

/* Item stat */
.stat p {
    margin-top: 4px;
    margin-bottom: 4px;
}

/* Loader */
#items-display.loading .loader{
    display: flex;
}

#items-display div.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: none;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
}

#items-display div.bar {
    width: 10px;
    height: 5px;
    background: #10c15c;
    margin: 2px;
    animation: bar 1s infinite linear;
}

#items-display div.loader div.bar:nth-child(1){
   animation-delay: 0s;
}

#items-display div.loader div.bar:nth-child(2) {
     animation-delay: 0.25s;
 }

#items-display div.loader div.bar:nth-child(3) {
     animation-delay: 0.5s;
}

@keyframes bar {
    0% {
        transform: scaleY(1) scaleX(0.5);
    }

    50% {
        transform: scaleY(10) scaleX(1);
    }

    100% {
        transform: scaleY(1) scaleX(0.5);
    }
}
